<!DOCTYPE html>
<html>
  <head>
    <title>Prompts for Reporting Services</title>
    <link rel="stylesheet" type="text/css" href="../css/ReportCatalog.css">
  </head>
  <body>
  <table>
      <tbody>
        <th colspan="2">
            <img src="../images/promptslogo.png">
            <div class="promptsHeader">
                <h1>Prompts</h1>
                <h3>Prompts for Reporting Services</h3>
            </div>
        </th>
        <tr>
            <td class="hideShowRow">
                <a >Hide</a>
                Report Catalog
            </td>
        </tr>
        <tr class="contentRow">
            <td class="reportCatalogPanel panel">
                <div id="reportCatalog">
                    <div id="loaded"></div>
                    <div id="loading">loading...</div>
                    <div id="errorMessage"></div>
                    <a id="retry">Retry</a>
                </div>
            </td>
            <td class="promptsPanel2 panel">
                <div id="prompts" class="promptsPanel">
                    <div id="loaded"></div>
                    <div id="loading">loading...</div>
                    <div id="errorMessage"></div>
                    <a id="retry">Retry</a>
                </div>
            </td>
        </tr>
      </tbody>
  </table>

    <script type="text/template" id="itemTemplate">
      <div id="wrap">
        <div id="ExpandImage" class="catalogItem"/>
        <div id="hoverWrap" class="catalogItem">
        <div id="selectWrap" class="catalogItem">
            <img src="../images/report.png" class="catalogItem" />
            <div class="catalogItem"><%- Name %></div>
          </div>
        </div>
      </div>
    </script>

  <script type="text/template" id="promptItemTemplate">
      <div unselectable="on" id="hoverWrap" class="catalogItem" style="width:99.2%">
          <div unselectable="on" id="selectWrap" class="catalogItem" style="width:100%">
              <div unselectable="on" class="catalogItem" style='-moz-user-select: none;-webkit-user-select: none;' onselectstart='return false;'><%- Label %></div>
          </div>
      </div>
  </script>

    <script type="text/template" id="folderItemTemplate">
      <div id="wrap">
        <div id="ExpandImage" class="catalogItem">
            <img />
        </div>
        <img src="../images/folder.png" class="catalogItem" />
        <div class="catalogItem"><%- Name %></div>
      </div>
    </script>

    <script type="text/template" id="emptyFolderItemTemplate">
        <div id="wrap">
            <div id="ExpandImage" class="catalogItem"></div>
            <img src="../images/folder.png" class="catalogItem"
            <div class="catalogItem"><%- Name %></div>
        </div>
    </script>

    <script type="text/template" id="dropDownTemplate">
      <div><%- Name %></div>
        <select>
            <% _(PromptLevelInfo.AvailableItems).each(function(item) { %>
            <option value="<%= item.Value %>"><%= item.Label %></option>
            <% }); %>
        </select>
    </script>

    <script type="text/template" id="shoppingCartTemplate">
        <table style="height:400px; width: 100%;">
            <tr>
                <td rowspan="2" class="listBox" style="width:50%">
                    <div style="height: 400px; overflow-y: scroll">
                        <ul id="availableItems" class="rootItems">
                        </ul>
                    </div>
                </td>
                <td style="width: 100px; vertical-align: bottom">
                    <button id="selectButton" style="width: 100px;">Select</button>
                </td>
                <td rowspan="2" class="listBox">
                    <div style="height: 400px; overflow-y: scroll">
                        <ul id="selectedItems" class="rootItems">
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">
                    <button style="width: 100px;">De-Select</button>
                </td>
            </tr>
        </table>
    </script>

    <script type="text/template" id="availableItemsTemplate">
        <ul id="availableItems" class="rootItems">

        </ul>
    </script>

    <script src="../js/jquery.js"></script>
    <script src="../js/underscore.js"></script>

    <script src="../js/Prompts.js"></script>

    <script src="../js/ReportCatalogItemController.js"></script>
    <script src="../js/FolderCatalogItemController.js"></script>
    <script src="../js/EmptyFolderCatalogItemController.js"></script>
    <script src="../js/CatalogItemsView.js"></script>
    <script src="../js/CatalogItemViewBase.js"></script>
    <script src="../js/CatalogItemProvider.js"></script>
    <script src="../js/FolderCatalogItemProvider.js"></script>
    <script src="../js/CatalogItemsProvider.js"></script>
    <script src="../js/FolderCatalogItemView.js"></script>
    <script src="../js/EmptyFolderCatalogItemView.js"></script>
    <script src="../js/LoadingPanelController.js"></script>
    <script src="../js/ReportCatalogPanelView.js"></script>
    <script src="../js/ReportCatalog.js"></script>
    <script src="../js/CatalogRepository.js"></script>
    <script src="../js/HierarchyFlattener.js"></script>
    <script src="../js/SingleSelector.js"></script>
    <script src="../js/ReportCatalogBuilder.js"></script>
    <script src="../js/ReportCatalogItemView.js"></script>
    <script src="../js/PromptsRepository.js"></script>
    <script src="../js/PromptsPanelView.js"></script>
    <script src="../js/PromptController.js"></script>
    <script src="../js/PromptsProvider.js"></script>
    <script src="../js/PromptsView.js"></script>
    <script src="../js/PromptsViewBuilder.js"></script>
    <script src="../js/DropDownView.js"></script>
    <script src="../js/ShoppingCartView.js"></script>
    <script src="../js/PromptItemController.js"></script>
    <script src="../js/PromptItemView.js"></script>

    <script src="../js/AvailableItemsController.js"></script>
    <script src="../js/AvailableItemsView.js"></script>
    <script src="../js/ShoppingCartBuilder.js"></script>
    <script src="../js/ShoppingCartController.js"></script>

    <script src="../js/RangeSelector.js"></script>
    <script src="../js/InverseSelector.js"></script>
    <script src="../js/MultiSelector.js"></script>


  </body>
</html>