<!DOCTYPE html>
<html>
  <head>
    <title>Prompts for Reporting Services</title>
    <link rel="stylesheet" type="text/css" href="../css/ReportCatalog.css">
  </head>
  <body>
    <div class="promptsHeader">
        <img src="../images/promptslogo.png" style="display: inline-block; vertical-align: middle;">
        <div style="display: inline-block; vertical-align: middle;">
            <h1 style="margin: 1px;">Prompts</h1>
            <h3 style="margin: 1px;">Prompts for Reporting Services</h3>
        </div>
    </div>
    <div id="reportCatalog" class="reportCatalogPanel">
        <div id="loaded"></div>
        <div id="loading">loading...</div>
        <div id="errorMessage"></div>
        <a id="retry">Retry</a>
    </div>

    <script type="text/template" id="itemTemplate">
      <div id="wrap">
        <div id="ExpandImage" class="catalogItem"/>
        <div id="hoverWrap" class="catalogItem">
        <div id="selectWrap" class="catalogItem">
            <img src="../images/report.png" class="catalogItem" />
            <div class="catalogItem"><%- Name %></div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="folderItemTemplate">
      <div id="wrap">
        <div id="ExpandImage" class="catalogItem">
            <img />
        </div>
        <img src="../images/folder.png" class="catalogItem" />
        <div class="catalogItem"><%- Name %></div>
      </div>
    </script>

    <script type="text/template" id="emptyFolderItemTemplate">
        <div id="wrap">
            <div id="ExpandImage" class="catalogItem" />
            <img src="../images/folder.png" class="catalogItem" />
            <div class="catalogItem"><%- Name %></div>
        </div>
    </script>

    <script src="../js/jquery.js"></script>
    <script src="../js/underscore.js"></script>

    <script src="../js/Prompts.js"></script>

    <script src="../js/ReportCatalogItemController.js"></script>
    <script src="../js/FolderCatalogItemController.js"></script>
    <script src="../js/EmptyFolderCatalogItemController.js"></script>
    <script src="../js/CatalogItemsView.js"></script>
    <script src="../js/CatalogItemViewBase.js"></script>
    <script src="../js/CatalogItemProvider.js"></script>
    <script src="../js/FolderCatalogItemProvider.js"></script>
    <script src="../js/CatalogItemsProvider.js"></script>
    <script src="../js/FolderCatalogItemView.js"></script>
    <script src="../js/EmptyFolderCatalogItemView.js"></script>
    <script src="../js/LoadingPanelController.js"></script>
    <script src="../js/ReportCatalogPanelView.js"></script>
    <script src="../js/ReportCatalog.js"></script>
    <script src="../js/CatalogRepository.js"></script>
    <script src="../js/HierarchyFlattener.js"></script>
    <script src="../js/SingleSelector.js"></script>
    <script src="../js/ReportCatalogBuilder.js"></script>
    <script src="../js/ReportCatalogItemView.js"></script>

  </body>
</html>