<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Prompts for Reporting Services</title>
    <link rel="stylesheet" type="text/css" href="../css/ReportCatalog.css">
  </head>
  <body>
  <table>
      <tbody>
        <th colspan="2">
            <img src="../images/promptslogo.png">
            <div class="promptsHeader">
                <h1>Prompts</h1>
                <h3>Prompts for Reporting Services</h3>
            </div>
        </th>
        <tr>
            <td colspan="2" class="hideShowRow">
                <a >Hide</a>
                Report Catalog
            </td>
        </tr>
        <tr class="contentRow">
            <td class="reportCatalogPanel panel">
                <div id="reportCatalog">
                </div>
            </td>
            <td class="promptsPanel2 panel">
                <div id="prompts" class="promptsPanel">
                    <div id="loaded"></div>
                    <div id="loading">loading...</div>
                    <div id="errorMessage"></div>
                    <a id="retry">Retry</a>
                </div>
            </td>
        </tr>
      </tbody>
  </table>

  <script type="text/template" id="reportCatalogLoadingPanelTemplate">
      <div id="loaded"></div>
      <div id="loading">loading...</div>
      <div id="errorMessage"></div>
      <a id="retry">Retry</a>
  </script>

  <script type="text/template" id="childPromptItemsLoadingPanelTemplate">
      <div>
          <ul class="childItems" id="loading">
              <li class="treeNodeLoading">loading...</li>
          </ul>
          <div id="loaded">
          </div>
          <ul id="errorMessage">
          </ul>
          <ul id="retry">
              <a>Retry</a>
          </ul>
      </div>
  </script>

    <script type="text/template" id="itemTemplate">
      <div id="wrap">
        <div id="ExpandImage" class="catalogItem"/>
        <div id="hoverWrap" class="catalogItem">
        <div id="selectWrap" class="catalogItem">
            <img src="../images/report.png" class="catalogItem" />
            <div class="catalogItem"><%- Name %></div>
          </div>
        </div>
      </div>
    </script>

  <script type="text/template" id="leafTreePromptItemTemplate">
        <span id="selectWrap">
            <span class='itemTest'><%- Label %></span>
        </span>
  </script>

    <script type="text/template" id="treePromptItemTemplate">
        <div class="catalogItem" style="width:16px">
            <img id="expandImage" src="../images/tree_collapsed.png">
        </div>

        <span id="selectWrap">
            <span class='itemTest'><%- Label %></span>
        </span>
    </script>

    <script type="text/template" id="folderItemTemplate">
      <div id="wrap">
        <div id="ExpandImage" class="catalogItem">
            <img />
        </div>
        <img src="../images/folder.png" class="catalogItem" />
        <div class="catalogItem"><%- Name %></div>
      </div>
    </script>

    <script type="text/template" id="emptyFolderItemTemplate">
        <div id="wrap">
            <div id="ExpandImage" class="catalogItem"></div>
            <img src="../images/folder.png" class="catalogItem"
            <div class="catalogItem"><%- Name %></div>
        </div>
    </script>

  <script type="text/template" id="emptyPromptTemplate">
      <input style="width:100%; height: 25px;">
  </script>

  <script type="text/template" id="treeDropDownTemplate">
      <div class="dropDown" >
          <div class="dropDownToggle" id="toggle" >
              <span id="selectedItemText"></span>
              <span><img class="dropDownToggleImage" src="../images/tree_expand.png"></span>
          </div>
            <div id="popup" class="dropDownPopup" >
          </div>
      </div>
  </script>

    <script type="text/template" id="dropDownTemplate">
        <div class="dropDown" >
            <div class="dropDownToggle" id="toggle" >
                <span id="selectedItemText"></span>
                <span><img class="dropDownToggleImage" src="../images/tree_expand.png"></span>
            </div>
            <div id="popup" class="dropDownPopup" >
                <button id="searchButton" style="float:right">Search</button>
                <div style="padding: 0 5px 0 2px; overflow: hidden;" >
                    <input id="searchString" type="text" title="Search" style="width: 100%" />
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="shoppingCartTemplate">
        <table style="height:400px; width: 100%;">
            <tr>
                <td><input id="searchString" style="width:100%"></td>
                <td><button id="searchButton" style="width:100%">Search</button></td>
            </tr>
            <tr>
                <td rowspan="2" class="listBox" style="width:50%">
                    <div id="availableItems" style="height: 400px; overflow-y: scroll">
                    </div>
                </td>
                <td style="width: 100px; vertical-align: bottom; height: 200px">
                    <button id="selectButton" style="width: 100px;">Select</button>
                </td>
                <td rowspan="2" class="listBox">
                    <div style="height: 400px; overflow-y: scroll">
                        <ul id="selectedItems" class="rootItems">
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">
                    <button id="unSelectButton" style="width: 100px;">De-Select</button>
                </td>
            </tr>
        </table>
    </script>

  <script type="text/template" id="asynchronousSearchShoppingCartTemplate">
      <table id="content" style="height:400px; width: 100%;">
          <tr style="vertical-align: top; height: 25px">
              <td><input id="searchString" style="width:100%"></td>
              <td><button id="searchButton" style="width:100%">Search</button></td>
          </tr>
      </table>
  </script>

  <script type="text/template" id="asynchronousSearchLoadingPanelTemplate">
      <tr style="vertical-align: top" id="loading"><td >loading...</td></tr>
      <tr id="errorMessage">
      </tr>
      <tr id="retry">
      </tr>
      <tr id="loaded">
          <td rowspan="2" class="listBox" style="width:50%">
              <div id="availableItems" style="height: 400px; overflow-y: scroll">
              </div>
          </td>
          <td style="width: 100px; vertical-align: bottom; height: 200px">
              <button id="selectButton" style="width: 100px;">Select</button>
          </td>
          <td rowspan="2" class="listBox">
              <div style="height: 400px; overflow-y: scroll">
                  <ul id="selectedItems" class="rootItems">
                  </ul>
              </div>
          </td>
      </tr>
      <tr id="loaded">
          <td style="vertical-align: top">
              <button id="unSelectButton" style="width: 100px;">De-Select</button>
          </td>
      </tr>
  </script>

  <script type="text/template" id="treeShoppingCartTemplate">
      <table style="height:400px; width: 100%;">
          <tr>
              <td rowspan="2" class="listBox" style="width:50%">
                  <div id="availableItems" style="height: 400px; overflow-y: scroll">
                  </div>
              </td>
              <td style="width: 100px; vertical-align: bottom; height: 200px">
                  <button id="selectButton" style="width: 100px;">Select</button>
              </td>
              <td rowspan="2" class="listBox">
                  <div style="height: 400px; overflow-y: scroll">
                      <ul id="selectedItems" class="rootItems">
                      </ul>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="vertical-align: top">
                  <button id="unSelectButton" style="width: 100px;">De-Select</button>
              </td>
          </tr>
      </table>
  </script>

    <script type="text/template" id="availableItemsTemplate">
        <ul id="availableItems" class="rootItems">

        </ul>
    </script>

    <script src="../js/jquery.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="../js/Class.js"></script>

    <script src="../js/AsynchronousItemsController.js"></script>

    <script src="../js/Prompts.js"></script>
    <script src="../js/SelectableItemController.js"></script>
    <script src="../js/ExpandableItemController.js"></script>

    <script src="../js/LoadingPanelControllerBase.js"></script>

    <script src="../js/FolderCatalogItemController.js"></script>
    <script src="../js/EmptyFolderCatalogItemController.js"></script>
    <script src="../js/FolderCatalogItemBuilder.js"></script>
    <script src="../js/FolderCatalogItemView.js"></script>
    <script src="../js/EmptyFolderCatalogItemView.js"></script>

    <script src="../js/ReportCatalogBuilder.js"></script>
    <script src="../js/ReportCatalogController.js"></script>
    <script src="../js/ReportCatalogItemBuilder.js"></script>
    <script src="../js/ReportCatalogItemController.js"></script>
    <script src="../js/ReportCatalogItemsBuilder.js"></script>
    <script src="../js/ReportCatalogItemsController.js"></script>
    <script src="../js/RootReportCatalogItemsController.js"></script>
    <script src="../js/ReportCatalogItemView.js"></script>
    <script src="../js/ReportCatalogItemViewBase.js"></script>
    <script src="../js/ReportCatalogLoadingPanelController.js"></script>
    <script src="../js/ReportCatalogLoadingPanelView.js"></script>
    <script src="../js/ReportCatalogRequester.js"></script>
    <script src="../js/ReportCatalogView.js"></script>

    <script src="../js/TreeSingleSelector.js"></script>

    <script src="../js/LoadingPanelController.js"></script>

    <script src="../js/HierarchyFlattener.js"></script>
    <script src="../js/SingleSelector.js"></script>
    <script src="../js/PromptsRepository.js"></script>
    <script src="../js/PromptsPanelView.js"></script>
    <script src="../js/PromptControllerBuilder.js"></script>
    <script src="../js/PromptsProvider.js"></script>
    <script src="../js/PromptsView.js"></script>
    <script src="../js/PromptsViewBuilder.js"></script>
    <script src="../js/DropDownView.js"></script>
    <script src="../js/ShoppingCartView.js"></script>
    <script src="../js/PromptItemController.js"></script>
    <script src="../js/PromptItemView.js"></script>

    <script src="../js/ChildAvailableItemsController.js"></script>
    <script src="../js/ChildPromptItemsLoadingPanelController.js"></script>
    <script src="../js/ChildItemsRequester.js"></script>
    <script src="../js/AvailableItemsController.js"></script>
    <script src="../js/ItemsView.js"></script>
    <script src="../js/RootItemsView.js"></script>
    <script src="../js/ChildItemsView.js"></script>
    <script src="../js/ChildAvailableItemsView.js"></script>
    <script src="../js/ShoppingCartBuilder.js"></script>
    <script src="../js/ShoppingCartController.js"></script>

    <script src="../js/RangeSelector.js"></script>
    <script src="../js/InverseSelector.js"></script>
    <script src="../js/MultiSelector.js"></script>

    <script src="../js/SelectedItemsController.js"></script>
    <script src="../js/PromptItemControllersProvider.js"></script>

    <script src="../js/ContainsSearch.js"></script>
    <script src="../js/StartsWithSearch.js"></script>
    <script src="../js/EndsWithSearch.js"></script>
    <script src="../js/NullSearch.js"></script>
    <script src="../js/EqualsSearch.js"></script>
    <script src="../js/SearchStringParser.js"></script>
    <script src="../js/Search.js"></script>

    <script src="../js/DropDownController.js"></script>
    <script src="../js/DropDownBuilder.js"></script>
    <script src="../js/DropDownSelector.js"></script>

    <script src="../js/TreePromptItemControllerBuilder.js"></script>
    <script src="../js/TreeDropDownBuilder.js"></script>
    <script src="../js/TreeDropDownController.js"></script>
    <script src="../js/TreeDropDownSelector.js"></script>
    <script src="../js/TreeDropDownView.js"></script>
    <script src="../js/TreePromptItemController.js"></script>
    <script src="../js/TreePromptItemView.js"></script>
    <script src="../js/TreeShoppingCartBuilder.js"></script>
    <script src="../js/TreeShoppingCartController.js"></script>
    <script src="../js/TreeShoppingCartView.js"></script>
    <script src="../js/TreeShoppingCartSelector.js"></script>
    <script src="../js/LeafTreePromptItemView.js"></script>
    <script src="../js/LeafTreePromptItemController.js"></script>
    <script src="../js/TreePromptItemControllersBuilder.js"></script>

    <script src="../js/RecursiveTreeDropDownBuilder.js"></script>
    <script src="../js/RecursiveTreeShoppingCartBuilder.js"></script>
    <script src="../js/RecursiveTreePromptItemControllersBuilder.js"></script>
    <script src="../js/RecursiveTreePromptItemControllerBuilder.js"></script>

    <script src="../js/ChildPromptItemsLoadingPanelView.js"></script>

    <script src="../js/EmptyPromptController.js"></script>
    <script src="../js/EmptyPromptView.js"></script>

    <script src="../js/AsynchronousSearchRequester.js"></script>
    <script src="../js/AsynchronousSearchStringParser.js"></script>
    <script src="../js/AsynchronousSearchAvailableItemsController.js"></script>
    <script src="../js/AsynchronousSearchLoadingPanelController.js"></script>
    <script src="../js/AsynchronousSearchLoadingPanelView.js"></script>
    <script src="../js/AsynchronousSearchShoppingCartBuilder.js"></script>
    <script src="../js/AsynchronousSearchShoppingCartController.js"></script>
    <script src="../js/AsynchronousSearchShoppingCartView.js"></script>

    <script src="../js/LoadingPanelController.js"></script>

    <script src="../js/Repository.js"></script>

  </body>
</html>