<tr style="vertical-align: top" class="loading"><td >loading...</td></tr>
<tr class="errorMessage">
</tr>
<tr style="vertical-align: top" class="retry">
  <td><a>Retry</a></td>
</tr>
<tr class="loaded">
    <td rowspan="2" class="listbox available-items">
    </td>
    <td class="shoppingcart-button select-button">
        <button>Select</button>
    </td>
    <td rowspan="2" class="listbox selected-items">
    </td>
</tr>
<tr class="loaded">
    <td class="shoppingcart-button unselect-button">
        <button>De-Select</button>
    </td>
</tr>