<li>
	<div class="dropDown" >
	    <div class="dropDownToggle" id="toggle" >
	        <span id="selectedItemText"></span>
	        <span><img class="dropDownToggleImage" src="../images/tree_expand.png"></span>
	    </div>
	    <div id="popup" class="dropDownPopup" >
	        <button id="searchButton" style="float:right">Search</button>
	        <div style="padding: 0 5px 0 2px; overflow: hidden;" >
	            <input id="searchString" type="text" title="Search" style="width: 100%" />
	        </div>'
	    </div>'
	</div>
</li>