<li class="prompt">
	<div class="dropDown" >
	    <div class="dropDownToggle" id="toggle" >
	        <span id="selectedItemText"></span>
	        <span><img class="dropDownToggleImage" src="../images/tree_expand.png"></span>
	    </div>
	    <div id="popup" class="dropDownPopup" >
	        <button id="searchButton">Search</button>
	        <div class="dropdown-search">
	            <input id="searchString" type="text" title="Search" class="search-input" />
	        </div>
	    </div>
	</div>
</li>