<li class="prompt shoppingcart">
    <div><%- model.Name %></div>
    <div class="ready-indicator"></div>
    <table>
        <tr>
            <td class = "search-wrapper"><input class="search-input"></td>
            <td><button class="search-button">Search</button></td>
        </tr>
        <tr>
            <td rowspan="2" class="listbox available-items">
            </td>
            <td class="shoppingcart-button select-button">
                <button>Select</button>
            </td>
            <td rowspan="2" class="listbox selected-items">
            </td>
        </tr>
        <tr>
            <td class="shoppingcart-button unselect-button">
                <button>De-Select</button>
            </td>
        </tr>
    </table>
<li>