<li class="prompt">
    <table>
        <tr>
            <td><input id="searchString" class="search-input"></td>
            <td><button id="searchButton" class="shoppingcart-button">Search</button></td>
        </tr>
        <tr>
            <td rowspan="2" class="listBox shoppingcart-listbox" id="availableItems">
            </td>
            <td class="shoppingcart-button select-button">
                <button id="selectButton">Select</button>
            </td>
            <td rowspan="2" id="selectedItems" class="listBox shoppingcart-listbox">
            </td>
        </tr>
        <tr>
            <td class="shoppingcart-button unselect-button">
                <button id="unSelectButton">De-Select</button>
            </td>
        </tr>
    </table>
<li>