
<li>
    <table style="height:400px; width: 100%;">
        <tr>
            <td><input id="searchString" style="width:100%"></td>
            <td><button id="searchButton" style="width:100%">Search</button></td>
        </tr>
        <tr>
            <td rowspan="2" class="listBox" style="width:50%">
                <div id="availableItems" style="height: 400px; overflow-y: scroll">
                </div>
            </td>
            <td class="shoppingcart-button select-button">
                <button id="selectButton" style="width: 100px;">Select</button>
            </td>
            <td rowspan="2" class="listBox">
                <div style="height: 400px; overflow-y: scroll">
                    <ul id="selectedItems" class="rootItems">
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="shoppingcart-button unselect-button">
                <button id="unSelectButton" style="width: 100px;">De-Select</button>
            </td>
        </tr>
    </table>
<li>