<li class="prompt">
    <table>
        <tr>
            <td rowspan="2" class="listBox">
                <div id="availableItems" class="shoppingcart-listbox">
                </div>
            </td>
            <td class="shoppingcart-button select-button">
                <button id="selectButton">Select</button>
            </td>
            <td rowspan="2" class="listBox">
                <div class="shoppingcart-listbox">
                    <ul id="selectedItems" class="rootItems">
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="shoppingcart-button unselect-button">
                <button id="unSelectButton">De-Select</button>
            </td>
        </tr>
    </table>
</li>
