<li class="prompt">
    <table>
        <tr>
            <td id="availableItems" rowspan="2" class="listBox shoppingcart-listbox">
            </td>
            <td class="shoppingcart-button select-button">
                <button id="selectButton">Select</button>
            </td>
            <td id="selectedItems" rowspan="2" class="listBox shoppingcart-listbox">
            </td>
        </tr>
        <tr>
            <td class="shoppingcart-button unselect-button">
                <button id="unSelectButton">De-Select</button>
            </td>
        </tr>
    </table>
</li>
