<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Prompts for Reporting Services</title>
    <link rel="stylesheet" type="text/css" href="../css/prompts.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="../js/Class.js"></script>
    <% for @jsFile in @jsFiles %>
      <script src="../js/<%= html_escape(@jsFile) %>"></script>
    <% end %>
  </head>
  <body>

    <% for @template in @templates %>
      <script id="<%= html_escape(@template.name) %>" type="text/template">
        <%= @template.text %>
      </script>
    <% end %>
    
    <div id="header">
      <span class="prompts-image"></span>
      <span>
          <h1>Prompts</h1>
          <h3>Prompts for Reporting Services</h3>
      </span>
    </div>

    <div id="show-hide">
      <a>Hide</a>
      Report Catalog
    </div>

    <div id="report-catalog">
    </div>

    <div id="prompts">
    </div>

    <div id="execute-report">
      <button>Execute</button>
    </div>
  </body>
</html>

