.panel {
    padding-right: 3px;
    border: 2px solid #E8E8E8;
    border-radius: 10px;
    vertical-align: top;
}

.listBox {
    border: 1px solid black;
    width:50%;
}

th{
    height: auto;
}

h1,h3 {
    margin: 1px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

.contentRow {
    height: 100%
}

img {
    display: inline-block;
    vertical-align: middle;
}

.promptsHeader {
    display: inline-block;
    vertical-align: middle;
}

.reportCatalogPanel {
    width: auto;
    white-space: nowrap;
    text-align: left;
}

.promptsPanel {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.promptsPanel2 {
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: auto;
}

.hideShowRow{
    border: 0px;
}

th{
    text-align: left;
}

body {
    font-family: "Segoe UI";
    font-size: 12px;
    margin: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    background: #666;
    color: #323232;
    background: white;
    overflow-y: scroll;
    position: fixed;
}

table {
    height: 100%;
    width: 100%;
    border: 1px;
    border-spacing: 7px;
}

#ExpandImage {
	width: 18px;
}

li.ReportView {
	list-style-type: none;
	cursor: pointer;
}

ul.childItems {
	padding: 0;
    margin: 0 0 0 22px;
    list-style-type: none;
}

ul.rootItems{
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalogItem {
    display: inline-block;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    vertical-align: top;
}

.promptItem {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    vertical-align: top;
    width:100%;
}

.promptItemHover {
    background: #E8E8E8;
}

.itemTest {
    border: 1px solid transparent;
    cursor: pointer;
}

.itemTest:hover {
    background: #E8E8E8;
    border: 1px solid #999;
}

.itemTestNotSelected {
    border: 1px solid transparent;
}

.itemTestSelect {
    background: #D1D1D1;
    border: 1px solid black;
}

.hoverGlow {
    display: inline-block;
    border-radius: 5px;
    vertical-align: top;
    background: #E8E8E8;
    border: 1px solid #999;
}

.selectedGlow {
	display: inline-block;
    border-radius: 5px;
	vertical-align: top;
    background: #D1D1D1;
    border: 1px solid #999;
}

a {
    color:#0000ff;
    background: #ffffff;
    cursor: pointer;
    text-decoration: underline
}
a:hover {
    color: #FF0000
}

.dropDown {
    width: 400px;
    position:relative;
    padding: 5px;
}

.dropDownToggle {
    border: 1px solid #D4D4D4;
    height: 20px;
    line-height: 20px;
    padding: 0px 2px 0px 2px;
    background: white;
    border-radius: 3px;
    box-shadow: 2px 2px 1px #888888;
}

.dropDownToggle:hover {
    border: 1px solid #B2B2B4;
}

.dropDownToggleImage {
    float: right;
}

.dropDownPopup {
    margin: 3px 0px 0px 0px;
    position:absolute;
    background: white;
    border: 1px solid #D4D4D4;
    width:398px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px #888888;
    max-height: 400px;
    overflow: auto;
    padding: 5px;
    z-index: 9001;
}

.treeItem {
    padding: 2px;
}

.treeNodeLoading {
    color: gray;
}