td {
    padding-right: 3px;
    border: 2px solid #E8E8E8;
    border-radius: 10px;
    vertical-align: top;
}

th{
    height: auto;
}

h1,h3 {
    margin: 1px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

.contentRow {
    height: 100%
}

img {
    display: inline-block;
    vertical-align: middle;
}

.promptsHeader {
    display: inline-block;
    vertical-align: middle;
}

.reportCatalogPanel {
    width: auto;
    white-space: nowrap;
    text-align: left;
}

.promptsPanel2 {
    width: 100%;
    text-align: left;
}

.hideShowRow{
    border: 0px;
}

th{
    text-align: left;
}

body {
    font-family: "Segoe UI";
    font-size: 12px;
    margin: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    background: #666;
    color: #323232;
    background: white;
    overflow-y: scroll;
    position: fixed;
}

table {
    height: 100%;
    width: 100%;
    border: 1px;
    border-spacing: 7px;
}

#ExpandImage {
	width: 18px;
}

li.ReportView {
	list-style-type: none;
	cursor: pointer;
}

ul.childItems {
	padding: 0;
    margin: 0 0 0 22px;
}

ul.rootItems{
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalogItem {
	display: inline-block;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    vertical-align: top;
}

div.hoverGlow {
	display: inline-block;
    border-radius: 5px;
	vertical-align: top;
    background: #E8E8E8;
    border: 1px solid #999;
}

div.selectedGlow {
	display: inline-block;
    border-radius: 5px;
	vertical-align: top;
    background: #D1D1D1;
    border: 1px solid #999;
}

a {
    color:#0000ff;
    background: #ffffff;
    cursor: pointer;
    text-decoration: underline
}
a:hover {
    color: #FF0000
}