<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<authentication mode="Windows" />
		<identity impersonate="false" />
		<authorization>
			<deny users="?" />
			<allow users="*" />
		</authorization>
		<compilation debug="true" /></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>
