
body { 
    margin: 0px;
    font-family: "Segoe UI";
    font-size: 12px; 
}

ul { 
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

a {
    color:#0000ff;
    background: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    &:hover {color: #FF0000;}
}

button {
    width: 100px;
}

@mixin panel-border {
    border: 1px solid #000000;
}

$panel-spacing: 5px;
$header-height: 50px;
$header-top: $panel-spacing;
$left-panel-start: $panel-spacing;

#header {
    text-align: left;
    height: $header-height;
    top: $header-top;
    right: $panel-spacing;
    left: $left-panel-start;
    position: absolute;
    span { 
        display: inline-block;
        vertical-align: top; 
    } 
    h1 {
        font-size: 20px;
        font-weight: bold;
    }
    h3 {
        font-size: 16px;
        font-style: italic;
        font-weight: normal;
    }
    h1, h3 {
        margin: 1px;
    }
    .prompts-image {
        background-image: url("../images/promptslogo.png");
        height: $header-height;
        width: $header-height;
        background-repeat: no-repeat;
    }
}

$show-hide-top: $header-top + $header-height + $panel-spacing;
$show-hide-height: 25px;

#show-hide {
    top: $show-hide-top;
    right: $panel-spacing;
    left: $left-panel-start;
    height: $show-hide-height;
    position: absolute;
    text-align: left;
}

$content-top: $show-hide-top + $show-hide-height + $panel-spacing;
$report-catalog-width: 250px;
$right-panel-start: $left-panel-start + $report-catalog-width + $panel-spacing;

#report-catalog {
    top: $content-top;
    padding: 5px;
    bottom: $panel-spacing;
    position: absolute;
    left: $left-panel-start;
    @include panel-border
}

$execute-report-height: 25px;

#prompts {
    top: $content-top;
    left: $right-panel-start;
    right: $panel-spacing;
    position: absolute;
    bottom: $panel-spacing;
    @include panel-border
}

#prompts-list {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow-y: auto;
    bottom: $execute-report-height;
    border-bottom: 1px solid #000000;
}

#execute-report {
    left: 0;
    right: 0;
    bottom: 0;
    height: $execute-report-height;
    position: absolute;
    .ready{ color: green; }
    .not-ready{ color: red; }
}

.ready{ color: green; }
.not-ready{ color: red; }
.item {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 2px 0px 2px;
}

.selectable {
    border: 1px solid transparent;
    &:hover {
        background: #E8E8E8;
        border: 1px solid #999;
    }
}

.selectable-selected {
    background: #D1D1D1;
    border: 1px solid #999;
    &:hover { border: 1px solid black; }
}

$itemHeight: 18px;

@mixin small-image($url) {
    margin-top: 0px;
    display: inline-block;
    height: $itemHeight;
    width: $itemHeight;
    vertical-align: top;
    background-image: url($url);
}

@mixin small-action-image($url) {
    @include small-image($url);
    cursor: pointer;
}

.loading-image {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
}

.spacer-image {
    margin-top: 0px;
    display: inline-block;
    height: $itemHeight;
    width: $itemHeight;
    vertical-align: top;
}

.collapsed-image { @include small-action-image("../images/tree_collapsed.png") }

.expanded-image { @include small-action-image("../images/tree_expand.png") }

.report-image { @include small-image("../images/report.png") }

.folder-image { @include small-image("../images/folder.png") }

.dropdown {
    width: 400px;
    position:relative;
    display: inline-block;
    .toggle {
        border: 1px solid #D4D4D4;
        height: 20px;
        line-height: 20px;
        padding: 0px 2px 0px 2px;
        background: white;
        border-radius: 3px;
        box-shadow: 2px 2px 1px #888888;
        &:hover { border: 1px solid #B2B2B4; }
        cursor: pointer;
    }
    .toggle-image { 
        @include small-image("../images/tree_expand.png");
        float: right;
    }
    .popup {
        margin: 3px 0px 0px 0px;
        position:absolute;
        background: white;
        border: 1px solid #D4D4D4;
        width:398px;
        border-radius: 3px;
        box-shadow: 2px 2px 1px #888888;
        max-height: 400px;
        overflow: auto;
        padding: 0px;
        z-index: 9001;
        > button {
            float: right;
        }
    }
    .search {
        padding: 0 5px 0 2px; 
        overflow: hidden;
    }
}

.promptItem {
    div:first-child { margin-bottom: 1px; }
}

.treeItem {
    .item {
        display: inline-block;
    }
    .loading {
        margin-left: 18px;
    }
    ul{ margin: 0 0 0 22px; }
    div:first-child {height: 18px;}
}

.shoppingcart {
    .search-wrapper { width: 45% }
    .listbox {
        height: 400px;
        border: 1px solid black;
        width:45%;
        vertical-align: top;
        > ul {
            height: 400px;
            overflow-y: scroll; 
        }
    }
    table { width: 100%; }
    .shoppingcart-button { height:200px; }
    .select-button { vertical-align: bottom; }
    .unselect-button { vertical-align: top; }
}

.search-input { width: 100%; }

.prompt { padding: 7px; }

