
body { 
    margin: 0px;
    font-family: "Segoe UI";
    font-size: 12px; 
}

ul { 
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

a {
    color:#0000ff;
    background: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    &:hover {color: #FF0000;}
}

button {
    width: 100px;
}

@mixin border-style {
	border: 1px solid #d3d3d3;
}

@mixin panel-border {
	@include border-style;
	border-radius: 10px;
	moz-border-radius: 10px;
}

$panel-spacing: 5px;
$header-height: 50px;
$header-top: $panel-spacing;
$left-panel-start: $panel-spacing;

#header {
    text-align: left;
    height: $header-height;
    top: $header-top;
    right: $panel-spacing;
    left: $left-panel-start;
    position: absolute;
    span { 
        display: inline-block;
        vertical-align: top; 
    } 
    h1 {
        font-size: 20px;
        font-weight: bold;
    }
    h3 {
        font-size: 16px;
        font-style: italic;
        font-weight: normal;
    }
    h1, h3 {
        margin: 1px;
    }
    .prompts-image {
        background-image: url("../images/promptslogo.png");
        height: $header-height;
        width: $header-height;
        background-repeat: no-repeat;
    }
}

$show-hide-top: $header-top + $header-height + $panel-spacing;
$show-hide-height: 25px;

#show-hide {
    top: $show-hide-top;
    right: $panel-spacing;
    left: $left-panel-start;
    height: $show-hide-height;
    position: absolute;
    text-align: left;
}

$content-top: $show-hide-top + $show-hide-height + $panel-spacing;
$report-catalog-width: 250px;
$right-panel-start: $left-panel-start + $report-catalog-width + $panel-spacing;

#application {
	position: absolute;
	top: $content-top;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 10px;
}

#application-left-column {
	height: 100%;
	float: left;
	margin-right: 10px;
	overflow: auto;
	@include panel-border;
}

#application-right-column {
	overflow: hidden;
	height: 100%;
	border: 1px solid;
	position:relative;
	@include panel-border;
}

#report-catalog {
	margin: 10px;
}

#prompts {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 10px;
	left: 10px;
}

$buttons-height: 25px;
$small-prompts-width: 225px;

#prompts-list {
	position: absolute;
	top: 0px;
	bottom: 30px;
	right: $small-prompts-width;
	left: 0px;
	@include border-style;
}

#small-prompts-list {
	top: 0;
	right: 0;
	width: $small-prompts-width - 5px;
	bottom: 0;
	position: absolute;
	table {
		border-spacing: 0px 0px;
		height: 100%;
		width: 100%;
	};
	tr {
		vertical-align: top;	
	}
	td {
		-webkit-border-radius: 3px 3px 0px 0px;
		border: 1px solid #d3d3d3;
		cursor: pointer;
		margin-bottom:5px;
	}
}

.small-prompt {
	position: absolute;
	top: 0;
	bottom: 2px;
	left: 0;
	right: 0;
	@include border-style;
}

.small-prompt-row {
	position: relative;
}

.small-prompt-content {
	position: absolute;
	top: 20px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
}

.prompt {
	margin: 5px;
}

@mixin header-gradient ($stop) {
	background-image: linear-gradient(top, #FFFFFF 0%, $stop 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, $stop 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, $stop 100%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, $stop 100%);
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, $stop 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr = '#{$stop}'); 
	background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0, #FFFFFF), color-stop(1,$stop));

}

.prompt-header { 
	text-align: center;
   	font-size:14px;
   	font-weight: bold; 
	-webkit-border-radius: 3px 3px 0px 0px;

	@include header-gradient(#d3d3d3);
	cursor: pointer;
	&:hover { 
		@include header-gradient(#b3b3b3); 
	}
}
.execution-ready { color: green }
.not-execution-ready { color: red }

#movement-buttons {
	position: absolute;
	bottom: 0;
	button { display: inline; height: 25px; vertical-align: top; }
	button[disabled=disabled] { opacity: .5 }
	#next-button {
	   	background-image: url("../images/forward.png");
		background-position: center;
		background-repeat: no-repeat;
	}
	#previous-button {
	   	background-image: url("../images/back.png");
		background-position: center;
		background-repeat: no-repeat;
	}
}

#execute-report {
    height: $buttons-height;
	display: inline;
    .ready{ color: green; }
    .not-ready{ color: red; }
}

.ready{ color: green; }
.not-ready{ color: red; }
.item {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 2px 0px 2px;
}

.selectable {
    border: 1px solid transparent;
    &:hover {
        background: #E8E8E8;
        border: 1px solid #999;
    }
}

.selectable-selected {
    background: #D1D1D1;
    border: 1px solid #999;
    &:hover { border: 1px solid black; }
}

$itemHeight: 18px;

@mixin small-image($url) {
    margin-top: 0px;
    display: inline-block;
    height: $itemHeight;
    width: $itemHeight;
    vertical-align: top;
    background-image: url($url);
}

@mixin small-action-image($url) {
    @include small-image($url);
    cursor: pointer;
}

.loading-image {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
}

.spacer-image {
    margin-top: 0px;
    display: inline-block;
    height: $itemHeight;
    width: $itemHeight;
    vertical-align: top;
}

.collapsed-image { @include small-action-image("../images/tree_collapsed.png") }

.expanded-image { @include small-action-image("../images/tree_expand.png") }

.report-image { @include small-image("../images/report.png") }

.folder-image { @include small-image("../images/folder.png") }

.prompt.dropdown {
	width: 50%;
}

.dropdown {
    position:relative;
    display: inline-block;
    .toggle {
        border: 1px solid #D4D4D4;
        height: 20px;
        line-height: 20px;
        padding: 0px 2px 0px 2px;
        background: white;
        border-radius: 3px;
        box-shadow: 2px 2px 1px #888888;
        &:hover { border: 1px solid #B2B2B4; }
        cursor: pointer;
    }
    .toggle-image { 
        @include small-image("../images/tree_expand.png");
        float: right;
    }
    .popup {
        margin: 3px 0px 0px 0px;
        position:absolute;
		top: 22px;
		left: 0;
		right: 0;
        background: white;
        border: 1px solid #D4D4D4;
        border-radius: 3px;
        box-shadow: 2px 2px 1px #888888;
        max-height: 400px;
        overflow: auto;
        padding: 0px;
        z-index: 9001;
        > button {
            float: right;
        }
    }
    .search {
		input { width: 100% } 
        padding: 0 5px 0 2px; 
        overflow: hidden;
    }
}

.small.dropdown {
	position: absolute;
	top: 25px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	.toggle {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

.promptItem {
    div:first-child { margin-bottom: 1px; }
}

.treeItem {
    .item {
        display: inline-block;
    }
    .loading {
        margin-left: 18px;
    }
    ul{ margin: 0 0 0 22px; }
    div:first-child {height: 18px;}
}

.shoppingcart {
    .search-wrapper { width: 45% }
    .listbox {
        border: 1px solid black;
        width:45%;
        vertical-align: top;
		height:100%;
        > ul {
            height: 100%;
            overflow-y: scroll; 
        }
    }
	table { height: 100%; width: 100% }
	position:absolute;
	top:25px;
	left: 0px;
	right: 0px;
	bottom:0px;
    .shoppingcart-button { text-align: center; } 
    .select-button { vertical-align: bottom; }
    .unselect-button { vertical-align: top; }
}

.shopping-cart-left-column {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	> ul {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 55px;
		@include border-style;
		overflow: auto;
	}
}

.shopping-cart-right-column {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	> ul {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 55px;
		@include border-style;
		overflow: auto;
	}
}

.shopping-cart-middle-column {
	width: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	z-index: 3;
	button { margin: 0; }
	.shopping-cart-button { position: absolute; top: 50%; }
	.select-button { margin-top: -12.5px }
	.unselect-button { margin-top: 12.5px }
}

.prompt {
	position: absolute;
	top: 30px;
	bottom: 10px;
	right: 10px;
	left: 10px;
}

.shopping-cart {
	.shopping-cart-left-column, .shopping-cart-right-column {
		> ul { top: 30px; }
	}
	.search-input { 
		position: absolute;
		top: 0px;
		height: 20px;
		right: 55px;
		left: 0px;
	}
	.loading {
		position: absolute;
		top: 30px;
	}
}

.tree-shopping-cart {
	.shopping-cart-left-column, .shopping-cart-right-column {
		> ul { top: 0px; }
	}
}

.empty-prompt {
	width: 100%;
	height: 20px;
}

.small-empty-prompt {
	position: absolute;
	left: 2px;
	right:2px;
	top: 2px;
}
