
body {
    font-family: "Segoe UI";
    font-size: 12px;
    margin: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    background: white;
    position: fixed;
}

.header {
    text-align: left;
    span { display: inline-block; } 
    h1 {
        font-size: 20px;
        font-weight: bold;
    }
    h3 {
        font-size: 16px;
        font-style: italic;
        font-weight: normal;
    }
    h1, h3 {
        margin: 1px;
    }
    .prompts-image {
        background-image: url("../images/promptslogo.png");
        height: 48px;
        width: 48px;
    }
}

.panel {
    padding-right: 3px;
    border: 2px solid black;
    border-radius: 10px;
    vertical-align: top;
    height: 80%;
}

.contentRow {
    height: 100%
}

.reportCatalogPanel {
    width: auto;
    white-space: nowrap;
    text-align: left;
}

.promptsPanel {
    width: 100%;
    overflow: auto;
    height: 80%
}

.promptsPanel2 {
    width: 100%;
    text-align: left;
    overflow: auto;
}

.hideShowRow{
    border: 0px;
}

table {
    height: 100%;
    width: 100%;
    border: 1px;
}

ul.childItems, ul.rootItems {
    padding: 0;
    list-style: none;
}

ul.childItems {
    margin: 0 0 0 22px;
}

ul.rootItems{
    margin: 0;
}

.item, .item-selected {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 16px;
    padding: 0px 2px 0px 2px;
}

.selectable {
    border: 1px solid transparent;
    &:hover {
        background: #E8E8E8;
        border: 1px solid #999;
    }
}

.selectable-selected {
    background: #D1D1D1;
    border: 1px solid #999;
    &:hover { border: 1px solid black; }
}

.image {
    margin-top: 0px;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: top;
    padding:1px;
}

.collapsed-image, .expanded-image {
    cursor: pointer;
}

.collapsed-image {
    background-image: url("../images/tree_collapsed.png");
}

.expanded-image {
    background-image: url("../images/tree_expand.png");
}

.report-image {
    background-image: url("../images/report.png");
}

.folder-image {
    background-image: url("../images/folder.png");
}

a {
    color:#0000ff;
    background: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    &:hover {color: #FF0000;}
}

.dropDown {
    width: 400px;
    position:relative;
}

.dropDownToggle {
    border: 1px solid #D4D4D4;
    height: 20px;
    line-height: 20px;
    padding: 0px 2px 0px 2px;
    background: white;
    border-radius: 3px;
    box-shadow: 2px 2px 1px #888888;
    &:hover { border: 1px solid #B2B2B4; }
}

.dropDownToggleImage {
    float: right;
}

.dropDownPopup {
    margin: 3px 0px 0px 0px;
    position:absolute;
    background: white;
    border: 1px solid #D4D4D4;
    width:398px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px #888888;
    max-height: 400px;
    overflow: auto;
    padding: 5px;
    z-index: 9001;
    > button {
        float: right;
    }
}

.treeItem, .promptItem {
    > div { margin-bottom: 1px; }
}

.treeItem {
    .item, .item-selected {
        display: inline-block;
    }
    .loading {
        margin-left: 18px;
    }
}

.shoppingcart-listbox {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid black;
    width:45%;
    vertical-align: top;
}

.shoppingcart-listbox > .rootItems {
    height: 400px;
}

button {
    width: 100px;
}

.select-button, .unselect-button{
    height: 200px; 
}

.select-button {
    vertical-align: bottom;
}

.unselect-button {
    vertical-align: top;
}

.search-input {
    width: 100%;
}

.prompt {
    padding: 7px;
}

.dropdown-search {
    padding: 0 5px 0 2px; 
    overflow: hidden;
}